/.idea
/.venv
/3d_axes_margins.py
/animation_TFM_vs_mask_angle.py
/Figure_Bernstein_model_testing.jpg
/figure_HFS_vs_SDH_TT.py
/Fig_2.png
/fig_Al_HFS_TFM_JASA.py
/fig_Al_NMO_DAS_JASA.py
/fig_Al_NMO_VCF.py
/fig_Al_SDH_DAS_IEEE.py
/fig_Al_SDH_DAS_JASA.py
/fig_Al_SDH_TFM_IEEE.py
/fig_Al_SDH_TFM_JASA.py
/fig_Al_SDH_TFM_with_HS_IEEE.py
/fig_Al_SDH_VCF.py
/fig_cwm_and_cheops.py
/fig_cwm_and_slices_JASA.py
/fig_cwm_cheops_and_slices.py
/fig_directivities_G_R_R_theta_D.py
/fig_directivities_just_G_R_&_D.py
/fig_directivities_just_G_R_&_D_JASA.py
/fig_GRD_phase_compensation.py
/fig_G_R_D_DAS.py
/fig_G_R_D_DAS_Bernstein_JASA.py
/fig_G_R_D_DAS_compact.py
/fig_G_R_D_DAS_compact_JASA.py
/fig_G_R_D_VCF.py
/fig_G_R_D_with_G.py
/fig_phase_comp.py
/fig_phase_comp_with_hybrid_S_JASA.py
/fig_R_poisson.py
/fig_r_sign_ambiguity.py
/fig_SV_wavefronts_JASA.py
/fig_SV_wavefront_xzt.py
/fig_TFM_Cheops_PCMs.py
/fig_W_NMO.py
/Frames
/hfs_c_space.py
/interference_zones_figure.py
/measuring_H_wave_decay.py
/NMO_polarity_aluminium.py
/old_fig_directivities_and_R.py
/phase_shift_calculations.py
/plotly_cheops.py
/Figure folders
/SV DAS paper 1 figures
.gitignore